<div style="padding: 16px">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-4" *ngFor="let escenario of escenarios">
      <div class="flex align-items-center justify-content-center">
        <mat-card
          class="example-card"
          [id]="escenario.id"
          (click)="seleccionar(escenario)"
          [class.active]="escenario.id == selectedEscenario.id"
        >
          <mat-card-title-group>
            <mat-card-title>{{ escenario.nombre | titlecase }}</mat-card-title>
            <mat-card-subtitle class="m-0"
              >De: {{ escenario.horaInicial | doceHoras}} a: {{ escenario.horaFinal | doceHoras }}</mat-card-subtitle
            >
            <mat-card-subtitle>{{ escenario.direccion | titlecase }}</mat-card-subtitle>
            <mat-card-title>{{ escenario.valor | currency: 'USD' : 'symbol' : '1.0-0' }}</mat-card-title>
            <img
              class="border-round"
              mat-card-md-image
              src="{{ escenario.imagen }}"
              alt="escenario"
            />
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
