<div class="container">
  <header class="item header">
    <mat-toolbar class="box shadow-3">
      <div class="header__toolbar">
        <img src="../../../assets/img/logo.svg" alt="" />

        <span class="spacer"></span>
        <!-- <button mat-raised-button>
          <mat-icon>login</mat-icon>
          <span class="ml-1">Ingresar</span>
        </button> -->

      </div>
   
    </mat-toolbar>


  </header>

  <aside class="item asidel"></aside>

  <section class="item section">
    <perfect-scrollbar>
        <router-outlet></router-outlet>
    </perfect-scrollbar>
  </section>
  <aside class="item asider">
    <perfect-scrollbar> </perfect-scrollbar>
  </aside>

  <footer class="item footer">
    <p class="text-center">Hecho con 💪 por <a href="#">DevOps42</a>.</p></footer>
</div>
