<div class="bg-bluegray-50">
  <div style="padding: 16px" *ngIf="escenario">
    <div class="grid">
<!-- 
      <div class="col-12">
        <mat-card>
          <p>Cancha seleccionada:</p>
        </mat-card>
      </div> -->

      <div class="col">
        <div class="flex justify-content-end">
          <div class="calendario">
          <mat-card>
            <h2>Selecciona la fecha del partido:</h2>
            <mat-calendar
              [minDate]="fechaMinimaDeReserva"
              [selected]="fechaSeleccionada.value"
              (selectedChange)="fechaSeleccionadaChange($event)"
            ></mat-calendar>
          </mat-card>
          </div>
        </div>
      </div>
      <div class="col">
        <mat-card class="horario" *ngIf="horasDisponibles.length > 0" [@enterAnimation]>
          <h2>Horas disponibles:</h2>
          <div
            class="flex flex-grow-1"
            style="height: 40px"
            *ngFor="let hora of horasDisponibles"
          >
            <div class="hora">{{ hora.horaInicial | doceHoras }}</div>
            <div class="border-top-1" style="width: 7px"></div>
            <div
              class="flex border-top-1 border-right-1 border-left-1 div-select"
              [class.disabled]="!hora.isDisponible"
              [class.celda-active]="
                hora.horaInicial == horaSeleccionada.horaInicial
              "
              (click)="seleccionarHora(hora)"
              [id]="hora.horaInicial"
            >
              <div
                class="flex-auto flex align-items-center justify-content-center"
              >
                <span *ngIf="!hora.isDisponible" class="text-center reservada"
                  >RESERVADA</span
                >
              </div>

              <div
                *ngIf="hora.isDisponible"
                class="flex-auto flex align-items-center justify-content-end"
              >
                <mat-icon
                  [class.active]="
                    hora.horaInicial == horaSeleccionada.horaInicial
                  "
                  color="success"
                  class="mr-2 icon"
                  aria-hidden="false"
                  aria-label="Example home icon"
                  >check_circle_outline</mat-icon
                >
              </div>
            </div>
          </div>

          <div class="flex">
            <div class="hora">
              {{ this.escenario.horaFinal + 1 | doceHoras }}
            </div>
            <div class="border-top-1" style="width: 100%"></div>
          </div>
        </mat-card>

        <!-- <ng-template #name>
          <div class="flex flex-column justify-content-center align-items-center" style="min-height: 433px;">
            <ng-lottie
              [options]="options"
              width="320px"
            ></ng-lottie>
            </div>
        </ng-template> -->
        
      </div>

      <div class="col-12">
        <div class="flex justify-content-end">
          <button
            id="btn_confirmar_hora"
            (click)="confirmarHora()"
            [disabled]="isSeleccionado"
            mat-raised-button
            color="primary"
          >
            CONFIRMAR HORA
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
