
  <div class="bg-bluegray-50">
    <div
      class="flex justify-content-left align-items-center"
      style="padding: 16px; height: 100%"
    >
      <img
        class="h-3rem"
        src="../../../assets/img/cancha-de-futbol.png"
        alt=""
      />
      <h1 class="m-0 ml-3">
        Hola, selecciona la cancha <br />
        que quieres reservar.
      </h1>
    </div>

    <app-escenario
      [escenarios]="escenarios"
      [length] = "totalRegistros"
      (selectEscenario)="sellecionarEscenario($event)"
      (filterEscenario)="buscarEscenario($event)"
      (listEscenarioPaginable)="paginar($event)"
    ></app-escenario>

    <div class="flex justify-content-end">
      <button
        id="btn_select"
        mat-raised-button
        color="primary"
        class="m-3"
        *ngIf="escenarios.length > 0"
        [disabled]="isSeleccionado"
        (click)="apartarEscenario()"
      >
        APARTAR CANCHA
      </button>
    </div>
  </div>
